.login-box{
    margin: 250px auto 0;
    max-width: 400px;
    width:100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

strong{
    font-size:26px;
    color: #E71E28;
}

.form-login{
    width:100%;
    border-radius: 4px;
    padding:30px
}

.form-login form{
    display:flex;
    flex-direction: column;
}

.form-login form label{
    font-size: 14px;
    margin-bottom: 8px;
}

.form-login form input{
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    height:45px;
    padding: 0 25px;
    font-size: 16px;
}

.form-login button{
    border:0;
    border-radius: 5px;
    width: 60%;
    height:50px;
    font-weight: bold;
    background-color: #E71E28;
    align-self: center;
    justify-self: center;
    color: #fff;
    cursor: pointer;
}

.form-login button:hover{
    background-color: #BA0A13;
}